Load the usual libs:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (12,8)  # make the plots a bit larger

Load the data. That dataset is a bit weird: It uses both tabs (```\t```) and commas as separators. So the ```sep``` argument here is actually a regular expression that make sure to separate columns both at tabs and commas. The engine for applying the regex is python.

In [9]:
asylum = pd.read_csv('Data/Asylum/asylum.tsv.gz', 
                     compression='gzip', 
                     sep='\t|,', 
                     engine='python', 
                     header=0, 
                     na_values=":")
asylum

,citizen,sex,unit,age,asyl_app,geo\time,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,AD,F,PER,TOTAL,ASY_APP,AT,0,0,0,0,0,0,0,0,0,0
1,AD,F,PER,TOTAL,ASY_APP,BE,0,0,0,0,0,0,0,0,0,0
2,AD,F,PER,TOTAL,ASY_APP,BG,0,0,0,0,0,0,0,0,0,0
3,AD,F,PER,TOTAL,ASY_APP,CH,0,0,0,0,0,0,0,0,0,0
4,AD,F,PER,TOTAL,ASY_APP,CY,0,0,0,0,0,0,0,0,0,0
5,AD,F,PER,TOTAL,ASY_APP,CZ,0,0,0,0,0,0,0,0,0,0
6,AD,F,PER,TOTAL,ASY_APP,DE,0,0,0,0,0,0,0,0,0,0
7,AD,F,PER,TOTAL,ASY_APP,DK,0,0,0,0,0,0,0,0,0,0
8,AD,F,PER,TOTAL,ASY_APP,EE,0,0,0,0,0,0,0,0,0,0
9,AD,F,PER,TOTAL,ASY_APP,EL,0,0,0,0,0,0,0,0,0,0
10,AD,F,PER,TOTAL,ASY_APP,ES,0,0,0,0,0,0,0,0,0,0
11,AD,F,PER,TOTAL,ASY_APP,EU28,0,0,0 d,0,0 d,0,0,0,0 d,0 d
12,AD,F,PER,TOTAL,ASY_APP,FI,0,0,0,0,:,0,0,0,0,0
13,AD,F,PER,TOTAL,ASY_APP,FR,0,0,0,0,0,0,0,0,0,0
14,AD,F,PER,TOTAL,ASY_APP,HR,0,0,0,0,0,:,:,:,:,NaN
15,AD,F,PER,TOTAL,ASY_APP,HU,0,0,0,0,:,0,0,0,0,0
16,AD,F,PER,TOTAL,ASY_APP,IE,0,0,0,0,0,0,0,0,0,0
17,AD,F,PER,TOTAL,ASY_APP,IS,0,0,0,0,0,0,0,0,0,0
18,AD,F,PER,TOTAL,ASY_APP,IT,0,0,0,0,0,0,0,0,0,0
19,AD,F,PER,TOTAL,ASY_APP,LI,0,0,:,0,:,0,0,0,0,0
20,AD,F,PER,TOTAL,ASY_APP,LT,0,0,0,0,0,0,0,0,0,0
21,AD,F,PER,TOTAL,ASY_APP,LU,0,0,0,0,0,0,0,0,0,0
22,AD,F,PER,TOTAL,ASY_APP,LV,0,0,0,0,0,0,0,0,0,0
23,AD,F,PER,TOTAL,ASY_APP,MT,0,0,0,0,0,0,0,0,0,0
24,AD,F,PER,TOTAL,ASY_APP,NL,0,0,0,0,0,0 p,0,0,0,0
25,AD,F,PER,TOTAL,ASY_APP,NO,0,0,0,0,0,0,0,0,0,0
26,AD,F,PER,TOTAL,ASY_APP,PL,0,0,0,0,0,0,0,0,0,0
27,AD,F,PER,TOTAL,ASY_APP,PT,0,0,:,0,0,0,0,0,0,0
28,AD,F,PER,TOTAL,ASY_APP,RO,0,0,0,0,0,0,0,0,0,0
29,AD,F,PER,TOTAL,ASY_APP,SE,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450074,ZW,UNK,PER,Y_LT18,NASY_APP,CY,0,0,0,0,0,0,0,0,0,0
450075,ZW,UNK,PER,Y_LT18,NASY_APP,CZ,0,0,0,0,0,0,0,0,0,NaN
450076,ZW,UNK,PER,Y_LT18,NASY_APP,DE,0,0,0,0,0,0,0,0,0,NaN
450077,ZW,UNK,PER,Y_LT18,NASY_APP,DK,0,0,0,0,0,0,0,0,0,NaN
450078,ZW,UNK,PER,Y_LT18,NASY_APP,EE,0,0,0,0,0,0,0,0,0,NaN
450079,ZW,UNK,PER,Y_LT18,NASY_APP,EL,0,0,0,0,:,0,0,:,:,NaN
450080,ZW,UNK,PER,Y_LT18,NASY_APP,ES,0,0,0,0,0,0,0,0,:,NaN
450081,ZW,UNK,PER,Y_LT18,NASY_APP,EU28,0,0,0 d,0,0 d,0,0,0,5 d,0 d
450082,ZW,UNK,PER,Y_LT18,NASY_APP,FI,0,0,0,0,:,:,:,:,:,NaN
450083,ZW,UNK,PER,Y_LT18,NASY_APP,FR,0,0,0,0,0,0,0,0,0,NaN
450084,ZW,UNK,PER,Y_LT18,NASY_APP,HR,0,0,0,0,0,:,:,:,:,NaN
450085,ZW,UNK,PER,Y_LT18,NASY_APP,HU,0,0,0,0,:,:,:,:,:,NaN
450086,ZW,UNK,PER,Y_LT18,NASY_APP,IE,0,0,0,0,0,0,0,0,0,NaN
450087,ZW,UNK,PER,Y_LT18,NASY_APP,IS,0,0,:,:,:,:,:,:,:,NaN
450088,ZW,UNK,PER,Y_LT18,NASY_APP,IT,0,0,0,0,0,0,0,0,0,NaN
450089,ZW,UNK,PER,Y_LT18,NASY_APP,LI,0,0,:,:,:,:,:,:,:,NaN
450090,ZW,UNK,PER,Y_LT18,NASY_APP,LT,0,0,0,0,0,0,0,:,0,NaN
450091,ZW,UNK,PER,Y_LT18,NASY_APP,LU,0,0,0,0,0,0,0,:,:,NaN
450092,ZW,UNK,PER,Y_LT18,NASY_APP,LV,0,0,0,0,0,0,0,:,0,NaN
450093,ZW,UNK,PER,Y_LT18,NASY_APP,MT,0,0,0,0,0,0,0,0,0,NaN
450094,ZW,UNK,PER,Y_LT18,NASY_APP,NL,0,0,0,0,0,0,0,0,0,NaN
450095,ZW,UNK,PER,Y_LT18,NASY_APP,NO,0,0,0,0,0,0,0,0,0,0
450096,ZW,UNK,PER,Y_LT18,NASY_APP,PL,0,0,0,0,0,0,0,0,0,NaN
450097,ZW,UNK,PER,Y_LT18,NASY_APP,PT,0,0,:,0,0,:,:,0,0,NaN
450098,ZW,UNK,PER,Y_LT18,NASY_APP,RO,0,0,0,0,0,0,0,:,:,NaN
450099,ZW,UNK,PER,Y_LT18,NASY_APP,SE,0,0,0,0,0,0,0,0,0,NaN
450100,ZW,UNK,PER,Y_LT18,NASY_APP,SI,0,0,0,0,0,0,0,0,0,NaN
450101,ZW,UNK,PER,Y_LT18,NASY_APP,SK,0,0,0,0,:,:,:,0,:,NaN
450102,ZW,UNK,PER,Y_LT18,NASY_APP,TOTAL,0,0,0 d,0,0 d,0,0,0,5 d,0 d
450103,ZW,UNK,PER,Y_LT18,NASY_APP,UK,0,0,0,0,0,0,0,0,5,NaN